{% extends "base.html" %}

{% block content %}
<main>
<h1>My Expenses</h1>
    <table>
        <thead>
            <th>Name</th>
            <th>Number</th>
            <th>Number of receipts</th>
        </thead>
        <tbody>
            {% for input in account_list %}
            <tr>
                <td>{{ input.name }}</td>
                <td>{{ input.number }}</td>
                <td>{{ input.receipts.all|length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}
