{% extends "base.html" %}

{% block content %}
<main>
<h1>My Receipts</h1>
<table>
    <thead>
        <th>Vendor</th>
        <th>Total</th>
        <th>Tax</th>
        <th>Date</th>
        <th>Category</th>
        <th>Account</th>
    </thead>
    <tbody>
        {% for input in receipt_list %}
        <tr>
            <td>{{ input.vendor }}</td>
            <td>{{ input.total }}</td>
            <td>{{ input.tax }}</td>
            <td>{{ input.date|date:"m/d/y" }}</td>
            <td>{{ input.category.name }}</td>
            <td>{{ input.account.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</main>
{% endblock %}
